body {
    font-size: 18px;
    background-color: #1f2937;
    
}

.navheader {
    display: flex;
    justify-content: space-between;
    position: relative;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 16px;
}

.left-link {
    position: absolute;
    left: 200px;
    top: 0;
    color: white;
}

.right-linkhead {
    position: absolute;
    right: 200px;
    top: 0;
    color: white;
}


.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section1 {
    background-color: #1f2937;
}

.section2 {
    background-color: white;
}

.title {
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.text {
    font-size: 10px;
    font-weight: 100;
    width: 100px;
    text-align: center;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding: 16px;
}

.info {
    max-width: 200px;
}

.box {
    background-color: white;
    border: 3px solid #3882f6;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}


.section3 {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal2 {
    padding: 16px;
    width: 380px;
    margin: 16px;
}

.Quote {
    font-weight: lighter;
    
}

.speaker {
    font-size: 12px;
    position: absolute;
    right: 480px;
    font-weight: bolder;
}

.section4 {
    background-color: white;
    display: flex;
    justify-content: center;
}

.modal {
    padding: 16px;
    background-color: #3882f6;
    width: 780px;
    height: 58px;
    border-radius: 8px;
    margin: 16px;
    
}
.containerCTA {
    position: relative;
 
}

.header,
.containertext {
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    top: 8px;
    left: 80px;
}

.header {
    font-size: 16px;

}

.containertext {
    font-size: 14px;
    
}

.right-link {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    height: 24px;
    width: 80px;
    border: 1.75px solid;
    background: transparent;
    color: white;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 160px;
    align-items: center;
    justify-content: center;
}


.footer {
    background-color: #1f2937;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
}